body {
    background-color: #f8f9fa;
  }
  
  .navbar-brand .badge {
    font-size: 1.5rem;
  }
  
  .card {
    border: none;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: #891942;
  }
  
  .btn-primary {
    background-color: #df8225;
    border-color: #608132;
  }
  
  .btn-primary:hover {
    background-color: #5da538;
    border-color: #32b85a;
  }
  
  @media (min-width: 768px) {
    .card-columns {
      column-count: 2;
    }
  }
  