/* styles.css */
.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  background-color: #a1aab2;
}

.navbar-nav .nav-link {
  cursor: pointer;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #cc0707;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.25em;
}

@media (max-width: 768px) {
  .card {
      max-width: 100%;
  }
}
